.main-cointainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.main-cointainer h1 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 4vw;
}

.list-item {
   width: 100%;
   margin-bottom: 2%;
 }

.btn-upload {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
}

.btn-upload + label {
    width: 15vw;
    font-size: 2vw;
    font-weight: 500;
    padding: 1%;
    color: white;
    text-align: center;
    background-color: #008B8B;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 3px 0px #008080;
    transition: 150ms;
}

.btn-upload:hover + label {
    background-color: #009999;
    box-shadow: 0px 5px 0px #008b8b;
    cursor: pointer;
}

.btn-uopload:focus + label {
	outline: 1px dotted;
	outline: -webkit-focus-ring-color auto 5px;
}